html {
    margin: 0;
    padding: 0;
}

body.main {
    margin: 0;
    padding: 0;
    overflow:hidden;
    height: 100%;
    width: 100%;
}

#main_frame {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: none;
}
